@charset "utf-8";
/* CSS Document */

#popupPadded ul{
	text-align:left;
	display:list-item;
}
#popupPadded li{
	display:list-item;
	text-align:left;
	}
#detail_U table {

	}
#detail_U th{
	margin-left: 2px;
	width: 20%;
	background-color: #E6EB6D;
	text-align: center;
	color:#525252;
	text-shadow:none;
	border-radius: 0.4em;
	padding:0.3em;
}
#detail_U td {
	text-align: left;
	border-color: #E6EB6D;
	border: 1px solid #E6EB6D;
	border-radius: 0.4em;
	padding:0.3em 0.3em 0.3em 1em;
	
}
#detail_U a{
	text-decoration:none;
	color:inherit;
}
#detail_S {
	text-align:left;
	
	}
#detail_S table ,#Attendance table{
	width: 100%;
	text-align:center;
}
#detail_S th, #Attendance th{
	margin-left:1px;
	color:#525252;
	text-shadow:none;
	border-radius: 0.4em;
	text-align:center;
	background-color:#E6EB6D;
	padding:0.3em;
	
}

#detail_S td , #Attendance td{
	margin:2px;
	border: 1px solid #E6EB6D;
	border-radius: 0.4em;
	padding:0.3em;
	
}
#detail p{
	text-align:center;
	text-shadow:#FFF;
	}